fastapi
uvicorn[standard]
python-multipart
python-dotenv

langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
langgraph

faiss-cpu
pypdf
ddgs

firebase-admin
